@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500;600&family=Signika:wght@500&family=Varela+Round&family=Yanone+Kaffeesatz:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 0 auto;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
}
 
.card{
    position: relative;
    margin-top: 5rem;
    width: 350px;
    height: 500px;
    background-color: rgb(117, 117, 117);
    margin-left: 2rem;
    border-radius: 25px;
    box-shadow: inset 5px 5px 4px rgba(243, 241, 241, 0.912),
                inset -5px -5px 3px rgb(255, 255, 255),
                1000px 0px 1000px rgb(0, 0, 0),
                4px 0px 20px rgba(194, 193, 193, 0.821);
                

}

.cardinfo{
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    
    text-align: center;
    background-color: rgb(210, 211, 211);
    transition: all 0.6s;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 255, 238, 0.35) 0px 2px 10px;
}

.cardinfo:hover{    
    transform: translateY(-70px);
}

.cardinfo h1{
    position: absolute;
    font-size: 7rem;
    top: 0;
    right: 0;
    opacity: 0.2;
}

.cardinfo h2{
    padding-top: 5rem;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 800;
}

.cardinfo p{
    padding-top: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.cardinfo button{
    margin-top: 3rem;
    border: none;
    font-size: 0.8rem;
    padding: 1.2rem 2.5rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(0,111,255,1) 0%, rgb(42, 217, 223) 50%, rgba(0,106,255,1) 100%);
    transition: 0.2s;
    cursor: pointer;
}

.cardinfo button:hover{
    transform: scale(0.9);
}

.cardinfo:hover button{

    background: linear-gradient(90deg, rgb(255, 0, 200) 0%, rgb(226, 190, 58) 50%, rgb(255, 0, 242) 100%);
}

.cardinfo:hover {
    background: linear-gradient(62deg, rgb(17, 15, 15) 0%, rgb(0, 149, 255) 100%); 
    
    color: white;
    transition: 0.2;
    box-shadow: rgba(0, 0, 0, 0.695) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}